.fabric/
.mixin.out/
data/
defaultconfigs/
local/
logs/
modernfix/
saves/
schematics/
shaderpacks/
versions/
screenshots/
xaero/
XaeroWaypoints_BACKUP240807/
instance-lock.json
instance.json
rhino.local.properties
usercache.json
usernamecache.json